.App {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  padding: 2rem;
}
.required:after {
  content:" *";
  color: 	#ff4d4d  ;
}
/* .css-18lg6j3-MuiPaper-root{
  align-items: center !important;
} */
